@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Sora", sans-serif;
  --color-primary: #f65d4e;
  --color-primary-hover: #f4402f;
  --color-subtitle: #000000;
  --color-text: #444444;
  --color-accent: #000000;
  --color-lighter: #999999;
  --color-border: #e6e6e6;
  --color-star: #fa8c17;
}

@layer base {
  body {
    @apply antialiased;
  }

  h1 {
    @apply text-4xl lg:text-5xl text-subtitle font-semibold leading-12 lg:leading-14;
  }

  h2 {
    @apply text-2xl md:text-3xl sm:text-4xl font-semibold text-subtitle;
  }

  h3 {
    @apply text-base font-bold text-subtitle;
  }

  a {
    @apply text-subtitle;
  }

  p {
    @apply text-text;
  }

  span {
    @apply text-text;
  }

  .transition {
    @apply transition-all duration-200;
  }

  .footer-text-sm {
    @apply text-lighter font-light text-sm transition-all duration-200;
  }
  .group-links .footer-text-sm {
    @apply hover:underline hover:cursor-pointer;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s ease;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image-wrapper img {
    max-height: 240px;
    width: auto;
    object-fit: contain;

    transition: all 0.4s ease;
  }

  .swiper-slide-active .image-wrapper {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .swiper-slide-active .image-wrapper img {
    max-height: 260px;
  }
}
